@use '../../vars';

.button {
  width: 10.5rem;
  height: vars.$height;
  border: 1px solid var(--main-violet);
  border-radius: vars.$radius;
  font-size: 1rem;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.bordered {
  @extend .button;
  color: var(--main-violet);
  background-color: var(--main-bright);
}

.filled {
  @extend .button;
  color: var(--main-bright);
  background-color: var(--main-violet);
}
