.button {
  width: 172px;
  height: 56px;
  border: 1px solid var(--main-violet);
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.bordered {
  @extend .button;
  color: var(--main-violet);
  background-color: var(--main-bright);
}

.filled {
  @extend .button;
  color: var(--main-bright);
  background-color: var(--main-violet);
}
