@use '../../vars';

.label {
  display: flex;
  margin-top: vars.$gap-between;
  cursor: pointer;
  align-items: center;
  user-select: none;
  color: var(--main-dark);
}

.radioButton {
  appearance: none;
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--secondary-bright);
  background-color: var(--main-bright);
  border-radius: 50%;
}

.radioButton:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  transition: transform .1s;
  background-color: var(--main-violet);
  height: 0.75rem;
  width: 0.75rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
}

.radioButton:checked:before {
  transform: translate(-50%, -50%) scale(1, 1);
}
