.label {
  display: flex;
  margin-top: 32px;
  cursor: pointer;
  align-items: center;
  user-select: none;
  color: var(--main-dark);
}

.radioButton {
  appearance: none;
  margin-right: 16px;
  position: relative;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border: 1px solid var(--secondary-bright);
  background-color: var(--main-bright);
  border-radius: 50%;
}

.radioButton:before {
  content: "";
  position: absolute;
  opacity: 0;
  border-radius: 50%;
  background-color: var(--main-violet);
  height: 12px;
  width: 12px;
  left: 5px;
  top: 5px;
}

.radioButton:checked:before {
  opacity: 1;
}
