.checkbox {
  appearance: none;
  margin-right: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.icon {
  opacity: 0;
  pointer-events: none;
  color: #7A5CFA;
  font-size: 1.2em;
  position: absolute;
  left: 4px;
  top: 3px;
}

.checkbox:checked ~.icon{
  opacity: 1;
}

.wrapper {
  position: relative;
}

.label {
  display: flex;
  cursor: pointer;
  align-items: center;
  user-select: none;
}