@use '../../vars';

.checkbox {
  appearance: none;
  margin-right: 1rem;
  border: 1px solid var(--secondary-bright);
  background-color: var(--main-bright);
  border-radius: vars.$radius;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.icon {
  opacity: 0;
  pointer-events: none;
  color: var(--main-violet);
  font-size: 1.2rem;
  position: absolute;
  left: 4px;
  top: 2px;
}

.checkbox:checked ~.icon{
  opacity: 1;
}

.label {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  user-select: none;
  margin-top: vars.$gap-between;
  color: var(--main-dark);
}