@use '../../vars';

.textfield {
  background-color: var(--main-bright);
  border: 1px solid var(--secondary-bright);
  border-radius: vars.$radius;
  height: vars.$height;
  outline: none;
  padding: vars.$field-padding;
  width: 100%;
  font-size: 1.2em;
}

.textfield:focus {
  box-shadow: 0 0 0 2px var(--main-violet);
}

.textfield:focus.invalid, .textfield.invalid {
  box-shadow: 0 0 0 2px var(--main-red);
}

.textfield:focus.invalid ~.errorIcon, .textfield.invalid ~.errorIcon {
  transform: translate(0, -50%) scale(1, 1);
}

.wrapper {
  width: 100%;
  margin-top: vars.$gap-between;
}

.label {
  display: inline-block;
  font-size: vars.$helper-text;
  font-weight: 500;
  margin-bottom: vars.$helper-gap;
  color: #666;
}

.error {
  display: inline-block;
  color: var(--main-red);
  margin-top: vars.$helper-gap;
  font-size: vars.$helper-text;
}

.contentWrapper {
  position: relative;
}

.errorIcon {
  font-size: 1.3rem;
  transition: transform .1s;
  top: 50%;
  transform: translate(0, -50%) scale(0, 0);
  right: 10px;
  position: absolute;
  color: var(--main-red);
  pointer-events: none;
}