- var opts = htmlWebpackPlugin.options

doctype html
html
    head
        title= opts.title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        div#root