*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  --main-bright: #fff;
  --secondary-bright: #ccc;
  --toggle-off: #f4f4f4;
  --main-dark: #666;
  --selected: #333;
  --main-violet: #7A5CFA;
}