@use '../../vars';

.itemContent {
  cursor: pointer;
  padding: vars.$field-padding;
  background-color: var(--main-bright);
  border: 1px solid var(--secondary-bright);
}

.label {
  font-size: 1.2em;
  cursor: pointer;
  color: var(--main-dark);
}

.item {
  &:last-child {
    .itemContent {
      border-radius: 0 0 vars.$radius vars.$radius;
    }
    margin-bottom: 30px;
  }
}

.item:hover {
  .itemContent {
    background-color: var(--main-violet);
  }

  .label {
    color: var(--main-bright);
  }
}

.itemContent:focus {
  background-color: var(--main-violet);
  .label {
    color: var(--main-bright);
  }
}