@use '../../vars';

.selectedText {
  pointer-events: none;
  color: var(--main-dark);
  font-size: 1.2rem;
}

.native {
  display: none;
  pointer-events: none;
}

.arrowIcon {
  pointer-events: none;
  transition: transform .3s;
  position: absolute;
  font-size: 1.2rem;
  color: var(--main-violet);
  right: 22px;
}

.wrapper {
  margin-top: vars.$gap-between;
  width: 100%;
  position: relative;
  user-select: none;
}

.title {
  color: var(--main-dark);
  font-size: vars.$helper-text;
  font-weight: 500;
  display: inline-block;
  margin-bottom: vars.$helper-gap;
}

.selected {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: vars.$height;
  padding: vars.$field-padding;
  border: 1px solid var(--secondary-bright);
  border-radius: vars.$radius;
}

.list {
  position: absolute;
  display: none;
  z-index: 1;
  width: 100%;
  list-style: none;
}

.open {
  .selected {
    border: 2px solid var(--main-violet);
    border-radius: vars.$radius vars.$radius 0 0;
  }

  .selectedText {
    color: var(--selected);
  }

  .arrowIcon {
    transform: rotateZ(180deg);
  }

  .list {
    display: block;
  }
}